<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
<br><br>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
<br><br>
<div class="field">
  <h3><%= form.label :deadline %></h3>
  <%= form.date_field :deadline, placeholder: "Task' deadline" %>
</div>
<br><br>
<div class="field">
<h3><%= form.label :priority, 'Priority' %></h3>
  <%= form.select :priority,['low','medium','high'], prompt: 'choose a priority' %>
</div>
<br><br>
<div class="field">
<h3><%= form.label :status, 'Status' %></h3>
  <%= form.select :status, ['pending','started','completed'], prompt: "Choose task' status"%>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
