<p id="notice"><%= notice %></p>
<h1>Show tasks page</h1>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>
<br>
<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<br>
<p>
  <strong>create_time:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>
<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
